
.Person{
    width: 50%;
    margin: auto;
    border: 5px solid rgb(240, 240, 240);
    box-shadow: 3px, 6px, 7px, rgb(2, 100, 200);
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 500px){
    .Person{
        width: 450px;
    }
}