
  .red{
    color: red;
  }
  .bold{
    font-weight: bold;
  }
  .Button{
    width: 120px;
    height: 40px;
    font: inherit;
    color: white;
    background-color: green;
    padding: 2px;
    border: 1px solid blue;
  }
  
  .Button:hover{
    background-color: lightgreen;
    color: black;
}
  
  .Button.Red{
    background-color: red;
  }
  .Button.Red:hover{
    background-color: salmon;
    color: black;
  }